# English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export EDITOR="vim"

# Turn on some more colors
export CLICOLOR=1

# tsc --watch hogs massive CPU without that due to polling file system
export TSC_NONPOLLING_WATCHER=1

export PATH="$PATH:/Users/alan/.dotnet/tools"

# https://intellij-support.jetbrains.com/hc/en-us/community/posts/205964744-npm-is-installed-using-nvm-but-IntelliJ-doesn-t-know-about-it
export NVM_SYMLINK_CURRENT=true
export PATH="$PATH:$HOME/.nvm/current/bin"

# vscode
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

# dotnet tools 
export PATH="$PATH:/Users/alanchristensen/.dotnet/tools"