[user]
	name = Alan Christensen
	email = alan@christensen.org.nz
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore-global
	autoclrf = input
	autocrlf = input
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
	template = /Users/alan/.stCommitMsg
[alias]
  rmb = "!f() { git branch --merged | grep -v "master" | while read i; do git branch -d $i; done; }; f"

